{% extends 'layout.html.twig' %}

{% block navbar %}
    {% include '/Home/navbar.html.twig' %}
{% endblock %}
{% block content %}
    <section>
        <div class="admin container-fluid">
            <div class="d-flex align-items-center flex-column mb-3">
                <form action="../AdminContact/index" method="post">
                    <button class="btn btn-outline-primary btn-lg my-3">Contact</button>
                </form>
                <form action="../AdminRoom/index" method="post">
                    <button class="btn btn-outline-primary btn-lg my-3">Gestion des logements</button>
                </form>
                <form action="../AdminAnimation/index" method="post">
                    <button class="btn btn-outline-primary btn-lg my-3">Gestion des Animations</button>
                </form>
                <form action="../AdminAdmission/index" method="post">
                    <button class="btn btn-outline-primary btn-lg my-3">Gestion des pré-admissions</button>
                </form>
            </div>
            <div class="container-fluid">
                <form class="mt-5 d-flex justify-content-center" action="../home/index" method="post">
                    <button class="btn btn-outline-primary btn-lg">Retour à l'accueil</button>
                </form>
            </div>
        </div>


    </section>

{% endblock %}