{% extends 'adminLayout.html.twig' %}
{% block title %}Admin - Accueil{% endblock %}
{% block content %}
    <section>
        <div class="admin container-fluid">
            <div class="d-flex align-items-center flex-column mb-3">
                <a class="btn btn-outline-primary btn-lg my-3" href="../AdminContact/index">Contact</a>
                <a class="btn btn-outline-primary btn-lg my-3" href="../AdminRoom/index">Gestion des logements</a>
                <a class="btn btn-outline-primary btn-lg my-3" href="../AdminAnimation/index">Gestion des Animations</a>
                <a class="btn btn-outline-primary btn-lg my-3" href="../AdminAdmission/index">Gestion des pré-admissions</a>
            </div>
            <div class="container-fluid mt-5 d-flex justify-content-center">
                <a class="btn btn-outline-primary btn-lg" href="/home/index/?noanim=1">Retour à l'accueil</a>
            </div>
        </div>
    </section>
{% endblock %}