<nav class="navbar fixed-top navbar-expand-lg navbar-dark" id="navbar">
    <div class="container">
        <div class="navbar-brand">
            <a href="/home/index/?noanim=1"><img src="/../assets/images/logoFJT.png" alt="logoFJT"/></a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/Admin/index">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/AdminContact/index">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/AdminRoom/index">Chambre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/AdminAnimation/index">Animation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/AdminAdmission/index">Admission</a>
                </li>
            </ul>
        </div>
    </div>
</nav>