<div class="container">
    <div class="contentFooter row">
        <div class="leftContentFooter col-3">
            <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" height="200" src="https://www.openstreetmap.org/export/embed.html?bbox=1.8974590301513674%2C47.91294076205423%2C1.9116210937500002%2C47.91959210124432&amp;layer=mapnik&amp;marker=47.91626653852818%2C1.9045400619506836" style="border: 1px solid black"></iframe>
            <p>FJT Espace Colombier</p>
            <p>Résidences Illiers</p>
            <p>Riobé 29 rue du Colombier 45000 ORLEANS</p>
        </div>
        <div class="rightContentFooter">
            <h3>Liens Utiles</h3>
            <ul>
                <li><a href="http://www.orleans-metropole.fr/" target="_blank">Ville d'Orléans</a></li>
                <li><a href="https://www.pole-emploi.fr/accueil/" target="_blank">Pôle Emploi</a></li>
                <li><a href="" target="_blank">Mission locale</a></li>
                <li><a href="http://www.univ-orleans.fr/fr" target="_blank">Université d'Orléans</a></li>
                <li><a href="http://www.regioncentre-valdeloire.fr/accueil.html" target="_blank">Conseil régional</a></li>
                <li><a href="" target="_blank">UJT Union Foyer</a></li>
            </ul>
        </div>
    </div>
</div>