{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/home.css">
{% endblock %}

{% block navbar %}
    {% include '/Home/navbar.html.twig' %}
{% endblock %}

{% block header %}
    <div class="home">
        <div class="leftHome">
            <div class="textHome">
                <h1>Foyer des Jeunes Travailleurs Colombier d'Orléans</h1>
                <p>Decouvrez nos solutions de logements, restaurations, loisirs aux prix attractifs au sein d’Orleans !</p>
                <form method="post">
                    <label for="mail">Mail:</label>
                    <input class="form-control" type="email" id="mail" name="mail" placeholder="Email">
                    <button class="btn btn-primary">Contact</button>
                </form>
            </div>
        </div>
        <div class="rightHome">
            <div>
                <img class="pictureFJT" src="/../assets/images/pictureFJT.jpg"/>
                <img class="youngPeople" src="/../assets/images/youngPeople.png"/>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <section class="pres container">
        <div class="leftContent col-7">
            <h2>Présentation du foyer</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <img src="" alt="imgFJT"/>
    </section>
    <div class="slogan">
        <p>Notre plus précieux capital, c'est vous, notre première réussite, c'est la votre...</p>
    </div>
    {% include 'contact/_form.html.twig' %}
{% endblock %}

{% block footer %}
    {% include '/Home/footer.html.twig' %}
{% endblock %}

{% block javascript %}
    <script src="/assets/scripts/navBgOnScroll.js"></script>
{% endblock %}