{% extends 'layout.html.twig' %}

{% block navbar %}
    {% include '/Home/navbar.html.twig' %}
{% endblock %}

{% block header %}
    <div class="home">
        <div class="leftHome">
            <div class="textHome">
                <h1>Foyer des Jeunes Travailleurs Colombier d'Orléans</h1>
                <p>Decouvrez nos solutions de logements, restaurations, loisirs aux prix attractifs au sein d’Orleans !</p>
                <form method="post">
                    <label for="mail">Mail:</label>
                    <input class="form-control" type="email" id="mail" name="mail" placeholder="Email">
                    <button class="btn btn-primary">Contact</button>
                </form>
            </div>
        </div>
        <div class="rightHome">
            <div>
                <img class="pictureFJT" src="/../assets/images/pictureFJT.jpg"/>
                <img class="youngPeople" src="/../assets/images/youngPeople.png"/>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% include 'contact/_form.html.twig' %}
{% endblock %}

{% block footer %}
    {% include '/Home/footer.html.twig' %}
{% endblock %}
