{% extends "Home/indexbis.html.twig" %}

{% block loading %}
    <div id="circle"></div>
{% endblock %}
{% block javascript %}
    <script src="/assets/scripts/navBgOnScroll.js"></script>
    <script src="/assets/scripts/contentInputHome.js"></script>
    <script src="/assets/scripts/loadingHome.js"></script>
{% endblock %}