<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-3">
            <a href="/Home/showLegals" target="_blank"><p> Mentions légales </p></a>
        </div>
        <div class="col-3">
            <p>© Mis à jour le 13 Mai 2020</p>
        </div>
        <div class="col-3">
            <p>Réalisé avec ❤  par les élèves de la Wild Code School</p>
        </div>
        <div class="col-3">
            <p>Tous Droits réservés.</p>
        </div>
    </div>

</div>