{% extends 'adminLayout.html.twig' %}
{% block title %}Modifier une adresse{% endblock %}
{% block content %}
    <section>
        <div class="admin-price container-fluid">
            <h2>Modifier une adresse:</h2>
            {{ dump.address }}
            {% include 'AdminAddress/_formAddress.html.twig' %}
        </div>

    </section>

{% endblock %}
