{% extends 'adminLayout.html.twig' %}
{% block title %}Demandes en attente{% endblock %}
{% block content %}
    <section>
        <h1 class="m-lg-4 text-center">Gestion des pré-admissions</h1>

        <div class="d-flex justify-content-center">
            <form  method="get" action="/AdminAdmission/allWaiting/" class="form-inline">
                <div class="form-group m-2">
                    <label for="search">Rechercher</label>
                    <input id="search" type="search" name="search" class="form-control m-2">
                </div>
                <button class="btn btn-outline-primary">Chercher</button>
            </form>
        </div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col" colspan="2">Dossiers en attente</th>
            </tr>
            </thead>
            <tbody>
            {% for folder in folders %}
                {%  if folder.statut is same as('En attente') %}
                    <tr>
                        <td>{{ folder.lastname ~ ' ' ~ folder.firstname}}</td>
                        <td>
                            <a class="btn btn-outline-primary" href="/AdminAdmission/show/{{ folder.id }}" >Consulter</a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
        <div class="text-center">
            <a role="button" class="btn btn-outline-primary btn-lg col-md-3 col-8 my-3 my-md-0" href="/AdminAdmission/index">Retour</a>
        </div>

    </section>
{% endblock %}
