<form action="" method="post" enctype="multipart/form-data">
    <div class="form-group m-4">
        <label for="name">Nom de l'animation</label>
        <input class="form-control mb-3" type="text" name="name" id="name" value="">
        <label for="description">Description</label>
        <textarea class="form-control mb-3" name="description" id="description"></textarea>
        <label for="image">Choisir une image</label>
        <input type="hidden" name="MAX-FILE-SIZE" value="1000000">
        <input class="form-control-file mb-3" type="file" value="" name="image" id="image">
        <input class="btn btn-outline-success" type="submit" value="Valider">
    </div>
</form>
