{% extends 'adminLayout.html.twig' %}

{% block title %}Ajouter une animation{% endblock %}

{% block content %}
      <section>
            <div class="admin-price container-fluid">
                <h1 class="m-lg-4 text-center">Ajouter une nouvelle animation</h1>
                {% include 'AdminAnimation/_form.html.twig' %}
            </div>
      </section>
{% endblock %}
