{% extends 'layout.html.twig' %}

{% block content %}
    <h2 class="m-4">Ajouter une nouvelle animation</h2>
    {% include 'AdminAnimation/_form.html.twig' %}
    <a class="btn btn-outline-primary m-4" role="button" href="../AdminAnimation/index">Retour</a>
{% endblock %}
