{% extends 'adminLayout.html.twig' %}

{% block title %}Modifier {{ animation.name }}{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="m-4">Modifier {{ animation.name }}</h2>
        {% include 'AdminAnimation/_form.html.twig' %}
        <a class="btn btn-outline-primary m-4" role="button" href="../index">Retour</a>
    </div>
{% endblock %}
