{% extends 'adminLayout.html.twig' %}

{% block title %}Modifier {{ animation.name }}{% endblock %}

{% block content %}
    <section>
        <div class="container-fluid">
            <h1 class="m-lg-4 text-center">Modifier {{ animation.name }}</h1>
            {% include 'AdminAnimation/_form.html.twig' %}
        </div>
    </section>
{% endblock %}
