{% extends 'layout.html.twig' %}
{% block navbar %}
    {% include '/Home/navbar.html.twig' %}
{% endblock %}
{% block content %}
    <section>
        <div class="admin-price container-fluid">
            <h2>Ajouter une nouvelle adresse:</h2>
            {% include 'AdminRoom/_formAddress.html.twig' %}
        </div>

    </section>

{% endblock %}
{% block footer %}
    {% include '/Home/footer.html.twig' %}
{% endblock %}