{% extends 'layout.html.twig' %}

{% block content %}
    <section>
        <div class="admin-price container-fluid">
            <h2>Ajouter un nouveau logement:</h2>
            {% include 'AdminRoom/_form.html.twig' %}
        </div>
    </section>
{% endblock %}
