{% extends 'adminLayout.html.twig' %}
{% block title %}Ajouter un logement{% endblock %}
{% block content %}
    <section>
        <div class="admin-price container-fluid">
            <h1 class="m-lg-4 text-center">Ajouter un nouveau logement</h1>
            {% include 'AdminRoom/_formRoom.html.twig' %}
        </div>
    </section>
{% endblock %}
