{% extends 'adminLayout.html.twig' %}
{% block title %}Modifier un logement{% endblock %}
{% block content %}
    <section>
        <div class="admin-price container-fluid">
            <h2>Modifier un logement</h2>
            {% include 'AdminRoom/_formRoom.html.twig' %}
        </div>
    </section>
{% endblock %}