{% extends 'layout.html.twig' %}

{% block content %}
    <h2>Gestion des logements</h2>
    <form action="">
        <button>Ajouter un logment</button>
    </form>
    {% for address in addresses %}
        <p>{{ address.name }}</p>
        {% for room in rooms %}
            {% if address.id == room.address_id  %}
            <p>{{ room.type }}</p>
                <div class="read-btn">
                    <form action="" method="post">
                        <input type="hidden" value="{{ room.id }}" name="id">
                        <button>Mettre à jour</button>
                    </form>
                    <form action="" method="post">
                        <input type="hidden" value="{{ room.id }}" name="id">
                        <button>Supprimer ce logement</button>
                    </form>
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endblock %}
