{% extends 'layout.html.twig' %}

{% block content %}
    <div class="adminContact">
        <div class="container-fluid">
            <div class="col-6 offset-3"><h1>Boîte de réception</h1></div>
            <div class="col-6 offset-3"><h3>Messages reçu</h3></div>
        </div>


        <div class="container">
            <div class="row">
                <div class="col-3">Nom</div>
                <div class="col-3">Prénom</div>
                <div class="col-3">Date</div>
            </div>
        </div>

        <div class="container">
            <div class="row">
            <div class="col-3">
                {% for contact in contacts %}
                <li> {{ contact.lastname }}</li>
                {% endfor %}
            </div>

            <div class="col-3">
                {% for contact in contacts %}
                <li> {{ contact.firstname }}</li>
                {% endfor %}
            </div>

            <div class="col-3">
                {% for contact in contacts %}
                <li> Le {{ contact.sendDate | date("d.m.Y à h:i") }}</li>
                {% endfor %}
            </div>
            </div>
        </div>
    </div>
{% endblock %}
