{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/adminContact.css">
{% endblock %}
{% block content %}
        <div class="container-fluid">
            <div class="col-12 d-flex justify-content-center"><h1>Boîte de réception</h1></div>
            <div class="col-12 d-flex justify-content-center"><h3>Prises de contact reçues</h3></div>
        </div>
    </div>

    {% if contacts %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Reçu le</th>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
        <tr>
            <th scope="row">{{ contact.sendDate | date("d.m.Y à H:i") }}</th>
                <td> {{ contact.firstname }}</td>
                <td> {{ contact.lastname }}</td>
                <td> <a href="/AdminContact/details/{{ contact.id }}"><button class="btn btn-outline-primary" type="button" value="button" >Consulter</button></a>
                </td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
    {% else %}
        <div class="col-12">
            <div class="col-12 d-flex justify-content-center mt-5"><h3>Aucun nouveau message</h3></div>
        </div>
    {% endif %}

    <div class="container mt-5">
        <div class="col-12 d-flex justify-content-center">
            <a href="/home/index">
                <button class="btn btn-outline-secondary " type="button" value="button">Retour à l'accueil</button>
            </a>
        </div>
    </div>
{% endblock %}
