.adminContact h3, p {
    text-align: center;
}

.adminContact * {
    color: black;
    list-style: none;
    text-align: center;
}

.btn-light {
    width: 100pt;
    font-size: 8pt;
}

.adminContact li {
    margin: 10pt 0;
}


.adminContact {
    border-radius: 30px;
    width: 90%;
    margin: 0 auto;
    background-color: rgba(114, 114, 114, 0.3);
}
