footer{
    background-color: var(--secondary-bg-color);
    color: var(--light-color);

    padding-top:25px;
    padding-bottom: 50px;
    text-align: center;
}

.contentFooter{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
}

.leftContentFooter{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

footer ul{
    list-style-type: none;
    padding-inline-start: 0;
}

footer h3{
    margin-bottom:32px;
}

footer li{
    margin:8px;
}

footer iframe{
    margin-top: 100px;
}

footer p{
    margin-top: 32px;
}