footer{
    background-color: var(--secondary-bg-color);
    color: var(--light-color);

    padding-top:50px;
    padding-bottom: 50px;
}

.contentFooter{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
}

footer ul{
    list-style-type: none;
    padding-inline-start: 20px;
}

footer h3{
    margin-bottom:32px;
}

footer li{
    margin:8px;
}
