label {
    margin: 2px;
}

.alert {
    width: 100%;
    margin-top: 5pt;
    font-size: 1.5vh;
    text-align: center;
    padding: 0;
    justify-content: center;
}

.alert-light {
    font-size: 8pt;
}

.message {
    width: 75%;
}