.home{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: stretch;

    margin: auto;
    margin-top:50px;
    width: 60vw;
    height: 100vh;
}

.textHome {
    color: var(--light-color);

    margin-top: 20vh;
}

.leftHome{
    width: 60%;
}

.rightHome{
    width: 40%;
}

.textHome label{
    display: none;
}

.textHome input{
    width:80%;
}

.pictureFJT{
    position: absolute;
    height: 650px;

    object-fit: cover;
    opacity: 0.9;
    border-radius: 20px;
    z-index: -1;
}

.youngPeople{
    width: 300px;
}

.bgHome img{
    /* Set rules to fill background */
    min-height: 101vh;
    min-width: 100vw;
    z-index: -1;

    /* Set up proportionate scaling */
    width: 100vw;
    height: 101vh;

    /* Set up positioning */
    position: absolute;
    top: -10px;
    left: -10px;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
    .bgHome {
        left: 100px;
        margin-left: -512px;   /* 50% */
    }
}