.main{
    margin-top:100vh;
}

.home{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: stretch;

    margin: auto;
    margin-top:16vh;
    width: 75%;
    height: 100vh;
}

.home h1{
    font-weight: bold;
    margin-bottom: 70px;
}

.textHome {
    color: var(--light-color);
    margin-top: 12vh;
    text-align: left;
}

.textHome p, .textHome input{
    margin-left: 100px;
}

.textHome p{
    margin-top:15vh;
}

.leftHome{
    width: 50%;
    margin-right: 50px;
}

.rightHome{
    width: 30%;
}

.textHome label{
    display: none;
}

.textHome input{
    width:80%;
    height:60px;
    margin-top:32px;

    border-radius: 10px;
    border:0;
}

.home input::placeholder {
    position: relative;
    left: 1vw;
}

.home a{
    position: relative;
    width: 100px;
    height: 40px;
    left:79%;
    bottom:49px;

    margin-right: 5px;
    font-weight: bold;
}

.pictureFJT{
    position: absolute;
    width: 380px;
    height: 75vh;
    opacity: 0.9;
    border-radius: 20px;
    z-index: 1;
    object-fit: cover;
}

.youngPeople{
    width: 300px;
    position: absolute;
    top:55vh;
    z-index: 2;
}

.header {
    position: absolute;
    width: 100vw;
    height:100vh;
    background-image: radial-gradient(299vmax at -98vw 180vh, var(--secondary-bg-color) 10%, var(--secondary-bg-color) 60%, var(--main-bg-color) 60%);
}

.pres img{
    border-radius: 7%;
}

.slogan {
    text-align: center;
    margin-top: var(--spacing-lg);
    margin-bottom: var(--spacing-lg);
}

.slogan p{
    font-size: var(--medium-size);
    margin:0;
    color: var(--secondary-bg-color);
    font-style:italic;
}

#circle{
    position: absolute;
    width:100vw;
    height:100vh;
}

.header, .main, .footer{
    display: none;
}

#contact{
    scroll-margin-top: 200px;
}

@media screen and (max-width: 991px) {
    .home{
        width: 90%;
        margin:auto;
    }

    .leftHome{
        width:100%;
        margin:auto;
    }

    .rightHome{
        display: none;
    }

    .pres img{
        margin-top: var(--spacing-sm);
    }

    .pres p{
        text-align: center;
    }
}

@media screen and (max-width: 604px) {
    .home form{
        display: none;
    }

    .textHome {
        text-align: center;
        margin-top: 80px;
    }

    .textHome p{
        margin: 0;
    }
}