nav{
    background-color: var(--secondary-bg-color);
}

nav div{
    justify-content: flex-end;
}

.navbar-brand img{
    width: 100px;
}

.navbar-nav{
    font-size: var(--medium-size);
}

.nav-link{
    color:var(--light-color);
}

nav ul li{
    margin:10px;
    text-align: center;
}

nav img{
    top: 20px;
}

nav button{
    margin-top:20px;
}