#content {
    border-radius: 50px;
    font-size: 1.2vw;
    border: 3px solid var(--main-bg-color);
    border-collapse: unset;
    max-width: 90vw;
    margin: 2vw auto;
}

#content div p:first-child {
    margin: 2vh 0;
    background-color: var(--main-bg-color);
    color: var(--light-color);
}

#content p {
    background-color: var(--secondary-bg-color);
    padding: var(--spacing);
    border-radius: 20px ;
}