/* Grille Tarifaire */
.table {
    width: 80%;
    margin: 2% auto;
    text-align: center;
}

.table thead {
    background-color: var(--main-bg-color);
    color: var(--light-color);
}
.rooms section:nth-of-type(2) h2 {
    text-align: center;
}

/* CARD */

.rooms .card {
    margin: 3% 0;
    padding: 0;
    border-radius: 10px;
    width: 18rem;

}
.rooms .card-body {
    display: flex;
    flex-direction: column;
    border-radius: 0 0 15px 15px ;
}

.rooms .card-body h3:first-child {
    text-align: center;
}
.rooms h2 {
    text-decoration: underline;
}
.rooms .card-body p {
    text-align: center;
}
.card-body p:nth-of-type(2) {
    align-self: center;
}
.rooms .card .btn {
    align-self: flex-end;
    color: var(--light-color);
}
.rooms .card figure {
    margin: 0;
}
.rooms .card figcaption {
    position: absolute;
    margin: 2%;
    color: var(--light-color);
    font-weight: bolder;
    background-color: darkgray;
    padding: var(--spacing-sm);
    border-radius: 10px;
    min-width: 5%;
    text-align: center;
}
.rooms .card figure img {
    border-radius: 10px 10px 0 0;
}
@media screen and ( max-width: 768px ){
    .rooms .table, .rooms section:nth-of-type(2) h2 {
        display: none;
    }

}
/* Formulaire */

.rooms form {
    width: 80%;
    margin: 0 auto;
}
.rooms form p {
    width: 50%;
    margin: 5% auto;
    text-align: center;
}
.rooms form p a {
    color: #090909;
    text-decoration: underline;
}
.rooms form ol li {
    list-style: none;
}