.service-title {
    margin-bottom: var(--spacing);
}

.container-service,
.container-animation {
    width: 75%;
}

.main-card {
    width: 100%;
    margin-bottom: var(--spacing-sm);
}

.animation-card {
    margin-bottom: var(--spacing-sm);
}

.animation-title {
    margin-bottom: var(--spacing);
}

.service-card,
.animation-card,
.main-card .card {
    border-radius: 10px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    background-color: rgba(0, 0, 0, 0.05);
}

.card-description {
    height: 225px;
}

.card-order:nth-child(odd) .card-color,
.card-blue {
    font-weight: bold;
    color: var(--main-bg-color);
    border-bottom: 3px solid var(--main-bg-color);
}

.card-order:nth-child(even) .card-color,
.card-pink {
    font-weight: bold;
    color: var(--secondary-bg-color);
    border-bottom: 3px solid var(--secondary-bg-color);
}

.card-order:nth-of-type(3) {
    order: 1;
}

.card-title-sm {
    font-size: var(--main-size);
}

.service-card img,
.main-card .card img {
    border-radius: 10px 10px 0 0 ;
    height: 350px;
    object-fit: cover;
    object-position: center;
}

.animation-card img {
    border-radius: 10px 0 0 10px;
}

.admin-title {
    margin: var(--spacing-sm);
}

.admin-image img {
    height: 200px;
}

.admin-highlight:first-child .service-card {
    border: 2px solid var(--secondary-bg-color);
}


@media screen and (max-width: 1300px) {
    .container-service,
    .container-animation {
        width: auto;
    }
}

@media screen and (max-width: 767px) {
    .animation-card img {
        border-radius: 10px 10px 0 0 ;
    }
    .card-title-sm {
        font-size: var(--medium-size);
    }
    .card-order:nth-of-type(3) {
        order: 0;
    }
    .service-card img,
    .main-card .card img {
        height: 200px;
    }
}
