.service-card {
    margin: var(--spacing);
}

.service-title {
    margin: var(--spacing);
}

.container-service,
.container-animation {
    width: 75%;
}

.main-card {
    width: 100%;
    margin-bottom: var(--spacing);
}

.animation-card {
    margin-bottom: var(--spacing);
}

.animation-title {
    margin: var(--spacing);
    margin-bottom: var(--spacing-lg);
}

.service-card,
.animation-card,
.main-card .card {
    border-radius: 10px;
}

.service-card img,
.main-card .card img {
    border-radius: 10px 10px 0 0 ;
}

.animation-card img {
    border-radius: 10px 0 0 10px;
}


@media screen and (max-width: 1300px) {
    .container-service,
    .container-animation {
        width: auto;
    }
}

@media screen and (max-width: 767px) {
    .animation-card img {
        border-radius: 10px 10px 0 0 ;
    }
}
