@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&family=Roboto&display=swap');
@import url('home.css');
@import url('navbar.css');
@import 'form.css';
@import 'service.css';
@import "price.css";
@import "footer.css";

:root{
    --main-bg-color: #032497;
    --secondary-bg-color: rgb(255, 0, 83);
    --card-m-bg-color: rgb(241, 49, 112);
    --card-s-bg-color: rgb(44, 85, 227);
    --light-color: #f6f6f6;
    --dark-color: #090909;

    --spacing: 16px;
    --spacing-sm: calc(var(--spacing)/2);
    --spacing-lg: calc(var(--spacing)*2);

    --main-size: 14pt;
    --medium-size: 20pt;
    --large-size: 30pt;
    --extra-large-size: 40pt;

    --title-font : 'Baloo Paaji 2', cursive;
    --main-font: 'Roboto', sans-serif;
}

*{
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

html{
    overflow-x: hidden;
}

body{
    margin: 0;
    font-family: var(--main-font);
    font-size: var(--main-size);
}

h1,h2,h3{
    font-family: var(--title-font);
}

h1{
    font-size: var(--extra-large-size);
    text-align: center;
}

h2{
    font-size: var(--large-size);
}

h3{
    font-size: var(--medium-size);
}

a {
    color:var(--light-color);
}

a:hover {
    color:var(--light-color);
}