@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&family=Roboto&display=swap');
@import 'navbar.css';
@import "price.css";
@import "footer.css";
@import "adminRoom.css";
@import "admin.css";

:root{
    --main-bg-color: #032497;
    --secondary-bg-color: rgb(255, 0, 83);
    --card-m-bg-color: rgb(241, 49, 112);
    --card-s-bg-color: rgba(33, 202, 246, 0.22);
    --light-color: #f6f6f6;
    --dark-color: #090909;

    --spacing: 64px;
    --spacing-sm: calc(var(--spacing)/2);
    --spacing-lg: calc(var(--spacing)*2);

    --main-size: 14pt;
    --medium-size: 25pt;
    --large-size: 30pt;
    --extra-large-size: 40pt;

    --title-font : 'Baloo Paaji 2', cursive;
    --main-font: 'Roboto', sans-serif;

    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.main{
    margin-top:100px;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

html{
    overflow-x: hidden;
}

body{
    margin: 0;
    font-family: var(--main-font);
    font-size: var(--main-size);
}

section{
    margin-top: var(--spacing);
    margin-bottom: var(--spacing-lg);
}

h1,h2,h3{
    font-family: var(--title-font);
}

h1{
    font-size: var(--extra-large-size);
}

h2{
    font-size: var(--large-size);
    margin-bottom: 50px;
}

h3{
    font-size: var(--medium-size);
}

a{
    color: var(--light-color);
}

a:hover {
    color:var(--light-color);
}

.btn-primary {
    background-color: var(--main-bg-color);
    border-radius: 10px;
}

.btn-primary:hover {
    background-color: var(--main-bg-color);
    color: var(--light-color);
}
.section-h1 {
    margin-top: var(--spacing-sm);
    margin-left: 17%;
}
@media screen and ( max-width: 768px ){
    .section-h1 {
        margin-top: var(--spacing-sm);
        margin-left: 13%;

    }

}
@media screen and ( max-width: 375px ){
    .section-h1 {
        margin: 5% 0;
        text-align: center;
    }

}
