{% extends 'layout.html.twig' %}

{% block navbar %}
    {% include '/Home/navbar.html.twig' %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <h2 class="service-title">Nos services</h2>
        <div class="row justify-content-center">
            {% for service in services %}
            <div class="col-md-6 col-xs-1 card-deck">
                <div class="card service-card">
                    <figure>
                        <img src="/assets/images/{{ service.image }}" class="card-img-top" alt="{{ service.name }}">
                        <figcaption></figcaption>
                    </figure>
                    <div class="card-body">
                        <h3 class="card-title">{{ service.name }}</h3>
                        <p class="card-text">{{ service.description }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
