<div id="container">
    <div id="contact" class="row offset-1">
        <div class="col-4 offset-1">
            <h2>Nous contacter</h2>
            <p>Vous pouvez nous envoyer un message afin d'avoir des précisions ou des informations supplémentaires en remplissant ce formulaire, nous vous recontacterons dans les plus brefs délais.</p>
            <p>Vous pouvez également nous joindre par téléphone au 02.38.42.23.30 ou par mail à fjt.colombier@cybercable.fr</p>
        </div>

        <div class="col-5 offset-1">
            <form action="" method="POST">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="lastname">Nom</label>
                        <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Holiday">
                    </div>

                    <div class="form-group col-md-4 offset-1">
                        <label for="firstname">Prénom</label>
                        <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Ryan">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="phone">Téléphone</label>
                        <input type="tel" class="form-control" id="phone" name="phone" placeholder="0601020304">
                    </div>

                    <div class="form-group col-md-4 offset-1">
                        <label for="email">Adresse mail</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="ryan.holiday@gmail.com">
                    </div>
                </div>

                <div class="form-group">
                    <label for="message">Message</label>
                    <textarea class="form-control col-9" id="message" name="message" rows="4" placeholder="Je souhaiterai vous contacter à propos de..."></textarea>
                </div>

                <button type="submit" class="btn btn-primary">Envoyer</button>
            </form>
        </div>
    </div>
</div>
